# for config.tf
region: eu-central-1
s3_bucket: test
s3_key: test

# for terraform.tfvars
# account
assume_role_from_aws_account_id: 826598248099
# networking
vpc_id: vpc-025c50ddacb9519fd
worker_subnet_ids:
- subnet-08e98dc4d291def06
- subnet-09ef7fe84650a3659
pod_subnet_ids:
- subnet-0e7f79a0478b48af5
- subnet-06bcbb2ec4d09e2cc
harmonised_subnet_ids:
- subnet-0885d77a39c3e0d90
- subnet-018d9ad96f2ea9c6c
# cluster
cluster_name: tiexin
ssh_worker_key: ovi_key
# proxy
worker_subnet_proxy_host_port: proxy.azdir-dev-infra.ec1.aws.aztec.cloud.allianz:8888
r53_hosted_zone_donamin_name: azdir-dev-infra.ec1.aws.aztec.cloud.allianz.
# nat
nat_enabled: false
nat_tag_worker_subnet_key: Role
nat_tag_worker_subnet_value: private_node
nat_tag_pod_subnet_key: Role
nat_tag_pod_subnet_value: private_service
